<!DOCTYPE html>
<html lang="en" xmlns="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script th:src="@{/js/programa.js}"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
    <form>
        <label>Formulario</label>
        <div>
            <input id="n1">
            <input id="n2">
            <button id="calcular">Calcular</button>
            <div id="resultado"></div>
        </div>
    </form>
    </div>
</body>
</html>